<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <AdraMatch>
      <add key="Username" value="AdraMatch" />
      <add key="ClearTextPassword" value="NugetServer" />
    </AdraMatch>
	<Adra>
      <add key="Username" value="jorn.andre.sundt@adra.com" />
      <add key="ClearTextPassword" value="fj4wvoclwtwdrtwfh2jzpqnzio47jt2w2pvw24tzbbncx76oslaa" />
    </Adra>
  </packageSourceCredentials>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
	<add key="AdraMatch" value="https://nuget.adra.com/nuget" />
	<add key="Adra" value="https://adramatch.pkgs.visualstudio.com/_packaging/AdraNugetServer/nuget/v3/index.json" />
  </packageSources>
</configuration>